:root {
    --uzOrange: 255, 80, 54; 
    --uzBlue: 37, 45, 108; 
    --uzSand: 249, 243, 237;
    --uzWhite: 255, 255, 255;
    --uzDarkGray: 104, 120, 130;

    --uzTextsColor: 58, 61, 93;
    --uzTitlesColor: 11, 17, 40;
    --uzLinksColor: 67, 99, 249;
    --uzSeparatorColor: 213, 216, 230;

    --uzMenuItemColor: 58, 61, 93;
    --uzMenuTitleColor: 11, 17, 40;
    --uzMenuItemSelectedColor: 67, 99, 249;
    --uzMenuBackgroundColor:244, 245, 251;
    --uzMenuBorderColor:213, 216, 230;
    --uzMenuExpandButtonColor:67, 99, 249;

}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf");
  font-weight: medium;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf");
  font-weight: normal;
}

body {
	font-family: Inter;
}

/* Expand menu button */
.sidebar-toggle span {
	background-color: rgb(var(--uzMenuExpandButtonColor));
}

button.sidebar-toggle {
	background-color: rgb(var(--uzMenuBackgroundColor));
}

body.close button.sidebar-toggle {
	background-color: rgb(var(--uzWhite));
	border: 1px solid #E7ECFE;
	border-radius: 4px;
}

body.close button.sidebar-toggle:hover {
	background-color: #E7ECFE;
	border: 1px solid #E7ECFE;
	border-radius: 4px;
}

body.close button.sidebar-toggle:active {
	background-color: #B4C5FE;
	border: 1px solid #B4C5FE;
	border-radius: 4px;
}

/* Sidebar */
.sidebar {
	background-color: rgb(var(--uzMenuBackgroundColor));
}

.sidebar li>p {
	color: rgb(var(--uzMenuTitleColor));
	font-weight: 600;
	font-size: 14px
}

.sidebar ul li>p>a {
	color: rgb(var(--uzMenuTitleColor));
	font-weight: bold;
}

.sidebar ul li>a {
	color: rgb(var(--uzMenuItemColor));
}

.sidebar ul li.active>a {
	color: rgb(var(--uzMenuItemSelectedColor));
	border-right-width: 4px;
}

.sidebar {
	border-right-color: rgba(var(--uzMenuBorderColor));
}

aside.sidebar {
	padding-top: 0;
}

/* Titles */
.markdown-section a.anchor span {
	color: rgb(var(--uzTitlesColor));
	font-size: 1.5rem;
}

.anchor span {
	color: rgb(255,0,0);
}

/* Block quotes */
.markdown-section blockquote {
	border-left-color: rgb(var(--uzOrange));
}

.markdown-section em {
	color: rgb(var(--uzTitlesColor));
	font-weight: normal;
	font-size: 14px;
}

/* Texts */
.markdown-section a {
	color: rgb(var(--uzBlue));
	text-decoration: none;
}

/* Single quote code */
.markdown-section a.anchor span code{
	font-size: 1.2rem;
	background-color: rgb(var(--uzWhite));: 
}

.markdown-section code {
	color: rgb(var(--uzLinksColor));
}
